{% extends "base.html" %}

{% block title %}Workout-content{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Workout content - collection of workouts</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Workout-content-select</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout-content-select</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout-content-select</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout-content-select</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout-content-select</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout-content-select</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Workout-content-select</a>
              </li>
            
          </ul>

        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-6">
                
                  <div class="card">
                    
                    <div class="card-body">
                      <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%" class="card-img-top" alt="...">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_one"> 
                        Read more 
                      </button>
                    <div class="modal fade" id="modal_one">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                   <h1>title for my modal</h1>
                                   <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%">
                            </div>
                            <div class="modal-body">
                                <p> proba 1Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            </div> 
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%" class="card-img-top" alt="...">  
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_two"> 
                        Read more 
                      </button>
                    <div class="modal fade" id="modal_two">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                   <h1>title for my modal</h1>
                                   <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%">
                            </div>
                            <div class="modal-body">
                                <p> porba 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            </div> 
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%" class="card-img-top" alt="...">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_three"> 
                        Read more 
                      </button>
                    <div class="modal fade" id="modal_three">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                   <h1>title for my modal</h1>
                                   <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%">
                            </div>
                            <div class="modal-body">
                                <p> porba 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            </div> 
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%" class="card-img-top" alt="..."> 
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_four"> 
                        Read more 
                      </button>
                    <div class="modal fade" id="modal_four">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                   <h1>title for my modal</h1>
                                   <img src="/static/images/moto.jpg" class = "img-responsive" width = "100%">
                            </div>
                            <div class="modal-body">
                                <p> porba 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            </div> 
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>

                

              </div>

              
            
        </div>
        
    </div>
    
</div>

<nav class="text-center">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>



{% endblock %}